
        .nav {
          display: flex;
          border-top : 0.5px solid gray;
          border-bottom : 0.5px solid gray;
          background-color: white;
          color: gray;
          height: 35px;
          padding: 15px 0 0 15px;
          /* top right bottom left */
        }
        .left {
          width: 50%;
        }
        .right {
          display: flex;
          justify-content: space-around;
          width: 30%;
        }
        .right > div {
            padding: 0 20px 0 20px;
            border-left: 1px solid gray;
            height: 20px;
            /* width:max-content; */
        }
         select , #search {
            border: 1px solid rgb(5, 63, 19);
            height: 30px;
            width: 200px;
            margin: 20px 50px;
            border-radius: 10px;
        }